<div class="text-center">
    <h2>Kendo UI Column Chart</h2>
    @(Html.Kendo().Chart()
        .Name("chart")
        .Title("Kendo Chart Example")
        .Legend(legend => legend
            .Position(ChartLegendPosition.Bottom)
        )
        .Series(series =>
        {
            series.Column(new double[] { 200, 450, 300, 125 }).Name("Example Series");
        })
        .CategoryAxis(axis => axis
                .Categories(new string[] { "2000", "2001", "2002", "2003" })
        )
    )
</div>

