<style>
    .k-grid{
        font-size: 12px;
    }
    .k-link{
        font-weight: bold;
    }
</style>

<div class="container-fluid">

    @(Html.Kendo().Grid<TelerikMVC.Models.DBTable>()
        .Name("grid")
        .Columns(columns =>
        {
            columns.Bound(c => c.ID);
            columns.Bound(c => c.FName);
            columns.Bound(c => c.LName);
            columns.Bound(c => c.Country);
            columns.Bound(c => c.Mobile);
            columns.Bound(c => c.Email);
            columns.Bound(c => c.ActiveStatus);
            columns.Bound(c => c.FName2);
            columns.Bound(c => c.LName2);
            columns.Bound(c => c.Country2);
            columns.Bound(c => c.Mobile2);
            columns.Bound(c => c.Email2);
            columns.Bound(c => c.ActiveStatus2);
            columns.Bound(c => c.FName3);
            columns.Bound(c => c.LName3);
            columns.Bound(c => c.Country3);
            columns.Bound(c => c.Mobile3);
            columns.Bound(c => c.Email3);
            columns.Bound(c => c.ActiveStatus3);
        })
        .Pageable()
        .ToolBar(t => t.Custom()
            .Text("Export To Excel")
            .Url(Url.Action("ExportFromDBData", "Home")))
        .DataSource(dt => dt
            .Ajax()
            .PageSize(10)
            .Read(rd => rd.Action("GetDBData", "Home"))
        )
    )

</div>
